/* src/Navbar.css */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .list{
    display: flex;
    gap: 30px;
  }